/*Desktop*/
@media (max-width: 1700px){
  .description{
    width: 70%;
  }
  .aboutProfileImage{

  }
}
@media (max-width: 1645px){
  .description{
    width: 60%;
  }
}
@media (max-width: 1345px){
  .description{
    width: 65%;
    padding-right: 0;
  }
  .aboutProfileImage{
    padding-right: 20px;
  }
}
@media (max-width: 1280px){
  .description{
    width: 65%;
    padding-right: 0;
  }
  .aboutProfileImage{
    padding-right: 20px;
  }
}
@media (max-width: 1150px{
  .aboutProfileImage{
    padding-left: 20px;
    padding-right: 20px;
    width: 200px;
    height: 200px;
  }
  .description{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1085px){
  .description{
    width: 55%;
    padding: 0 30px 30px 0;
  }
  .aboutProfileImage{
    padding: 20px;
  }
}
@media (max-width: 600px){
  #dropdown{
    display: block;
    background-image: url("http://www.free-icons-download.net/images/web-page-menu-icon-75688.png");
  }
  .headerDesktop{
    display: none;
  }
}
@media (max-height: 720px){
  .box{
    width: 200px;
    height: 300px;
  }
  .name{
    font-size: 25px;
    margin-top: 10px;
  }
  .profile{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 50%;
    width: 70%;
  }
  .profession{
    font-size: 18px;
  }
}
