body{
  padding 0;
  margin:0;
  background-color: #F0FFF0;
}
/*Global */
.container{
    width:100%;
    margin:auto;
    overflow: hidden;
}
header ul{
  margin:0;
  padding:0;
}
/*Header*/
header{
  font-family: 'Dosis', sans-serif;
  color:#000000;
  padding-top: 12px;
  min-height: 70px;
  border-bottom: #000000 2px double;
}
header a{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 25px;
  font-style: normal;
}
header li{
  float:none;
  display: inline;
  padding: 0 30px 0 30px;

}
header nav{
  margin-top: 10px;
  text-align: center;
}
header a:hover{
  color: #FF6666;
  font-weight: 500;
}

/*body*/
#body{
  min-height: 100%;
  text-align: center;
}

#body .name h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 800%;
  font-weight: 100;
}

#body p{
  font-size: 20px;
  font-family: 'Tenor Sans', sans-serif;
  color: #000000;
}

#body .profile-images img {
  border-radius: 50%;
  width: 15%;
  margin-bottom: 80px;
  padding: 0 40px 0 40px;
}

#body .profile-images .profile1 {
  border-radius: 50%;
  width: 18%;
  margin-bottom: 80px;
  padding: 0 40px 0 40px;
}


#body .profile-images img:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
   transform:scale(1.25);
}

/*Footer*/
#body .footer p{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Slabo 27px', serif;
  font-size: 12px;
}


/*Media Queries*/

@media (max-height: 948px){
  #body .profile{
    display: none;
  }
  #body p{
    position: fixed;
    bottom: 10;
    width: 100%;
  }
}

@media (max-width: 1900px){
  #body .profile5{
    display: none;
  }
  #body .profile-images .profile1{
    width: 15%;
    padding: 0 70px 0 70px;
  }
}

@media (max-width: 1500px){
  #body .profile-images img{
    width: 19%;
    padding: 0 70px 0 70px;
    margin-bottom: 120px;
    margin-top: 70px;
  }
  #body .profile2{
    display: none;
  }
  #body .name h1{
    font-size: 650%;
  }
  #body .profile-images .profile1{
    width: 19%;
    padding: 0 70px 0 70px;
    margin-bottom: 120px;
    margin-top: 70px;
  }
}

@media (max-width: 1250px){
  #body .profile-images .profile1{
    margin-bottom: 120px;
  }
}


@media (max-width: 1000px){
  #body .name h1{
    font-size: 500%;
  }
  #body .profile3{
    display: none;
  }
  #body .profile4{
    display: none;
  }
  #body .profile-images .profile1{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media (max-width: 820px){
  #body .profile-images img{
    margin-bottom: 100px;
  }
}

@media (max-width: 640px) {
    #body .name h1{
      font-size: 400%;
    }

    #body .profile1{
      width: 50%;
    }
  }

@media (max-width: 414px) {
      #body .name h1{
        font-size: 240%;
      }
      #body .profile1{
        width: 70%;
        margin-bottom: 30px;
      }
  }

  @media (min-height: 812px){
    #body .profile1{
      margin-bottom: 70px;
    }
  }
